/*  online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
table {
	background-color:#ffffff;
	font-family: 'Myriad Set Pro', serif;
	
}
header {
	margin-left:10%;
}
body {
	background-color:#ffffff;
	font-family: 'Myriad Set Pro', serif;
	
}
caption {
	
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Myriad Set Pro', serif;
	border: 1px solid #0F799E;
	
}

hr{
margin-bottom: 30px;
}
h2 {
	font-family: 'Myriad Set Pro', serif;
	border: 1px solid #0F799E;
	
	
}
div.social {
	font-family: 'Myriad Set Pro', serif;
	margin-left:80%;
	font-family: 'Myriad Set Pro', serif;
	border: 1px solid #0F799E;
	margin-botton:10%;
	margin-top:0%;
	
}
div.container{
width: 760px;
height: 610px;
margin:50px auto;
font-family: 'Myriad Set Pro, serif;
position:relative;
}
div.main{
width: 620px;
float:left;
padding: 10px 55px 40px;
background-color: #FFFFE0;
border: 15px solid white;
box-shadow: 0 0 10px;
border-radius: 2px;
font-size: 13px;
}
input[type=text],[type=password] {
/* width: 25%;
height: 14px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px #00F5FF;
border: 2px solid #00F5FF;
font-size: 16px; */
background-color: #ffffff;

}
label{
font-family: 'Myriad Set Pro', serif;
color: #000000;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
#register {
font-family: 'Myriad Set Pro', serif;
font-size: 20px;
margin-top: 15px;
background: linear-gradient(#22abe9 5%, #36caf0 100%);
border: 1px solid #0F799E;
padding: 7px 35px;
color: white;
text-shadow: 0px 1px 0px #13506D;
font-weight: bold;
border-radius: 2px;
cursor: pointer;
width: 25%;
}
#register:hover{
background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

/* Added for navigation menu */

.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: 'Myriad Set Pro', serif;
}

.nav li {
	float: right;
	width: 160px;
	margin-top:0px;
	position: relative;
	font-family: 'Myriad Set Pro', serif;
}

.nav li a {
	background: #2F4F4F;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
	font-family: 'Myriad Set Pro', serif;
}

.nav li a:hover {
	color: #069;
	font-family: 'Myriad Set Pro', serif;
}

table,th,td {
    border: 1px solid #0F799E;
    font-family: 'Myriad Set Pro', serif;
}